# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Сертификаты
cert.pem
key.pem

# Файлы и директории фронтенда
/frontend/node_modules/
/frontend/dist/
/frontend/build/

# Файлы и директории бэкенда
/backend/.venv/
/backend/*.pyc
/backend/**/__pycache__/
/backend/migrations/*
!backend/migrations/__init__.py

# Конфигурационные/секретные файлы бэкенда
/backend/.env
/backend/labstructanalyzer.db
/backend/alembic.ini
/backend/images/*
/backend/labstructanalyzer/configs/lti_config.json
/backend/labstructanalyzer/configs/jwtRS256.key
/backend/labstructanalyzer/configs/jwtRS256.key.pub
